@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* (or whatever font Subframe uses) */

html {
  font-family: Inter;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}
